*{
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: rgba(243, 157, 157, 0.74);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    
}

header{
    height: 8vh;
    display: flex;
    justify-content: flex-end;
    
    
}

ul {
    display: flex;
    align-items: center;
}

ul li{
    margin-left: 5px;
    margin-right: 5px;
}

.icon-header{
    width: 24px;
    height: 24px;
    
    
}

.perfil{
    border-radius: 50%; 
    width: 24px;
    height: 24px;

}

main{
    height: 78vh;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    position: relative;
}


p{
    color: gray;
    margin: 0px;
}

.icon-buscador{
    text-align: center;
    display: inline-block;
    width: 24px;
    height: 24px;
    border-radius: 20px;
    padding: 10px;
}

#inputBuscador {
    outline: none;
    border: none;
    width: 250px;
}
.campoBuscador {
    display: flex;
    align-items: stretch;
    justify-content: space-around;
    border-radius: 25px;
    background-color: white;
}

ul{
    list-style-type: none;
}

header ul li{
    display: inline-block;
    padding: 4px;
    

}
footer{
    color: rgb(77, 76, 76);
    height: auto;
    margin-bottom: 15px;
    
}
footer ul{
    display: inline-block;
    margin: 15px 12px;
}

footer ul li{
    display: inline;
    padding: 15px;
}

button{
    border: none; 
    color: rgb(0, 0, 0); 
    padding: 10px 10px;
    cursor: pointer; 
    border-radius: 50%;
    margin-left: 10px;
    background-color: rgb(244, 127, 127);
}
article {
    margin-top: 15px;
}


#footerL{
    float: left;
    padding: 0px; 
}
#footerR{
    float:right;
    padding: 0px;  
}
